@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem
@{
    var elementId = string.IsNullOrEmpty(Model.ElementId) ? string.Empty : $"id=\"{Model.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(Model.CssClass) ? string.Empty : Model.CssClass;
    var disabled = Model.IsDisabled ? "disabled" : string.Empty;
    var url = string.IsNullOrEmpty(Model.Url) ? "#" : Url.Content(Model.Url);
}
@if (Model.IsLeaf)
{
    if (Model.Url != null)
    {
        <li class="nav-item">
            <a class="nav-link @cssClass @disabled" href="@url" target="@Model.Target" @Html.Raw(elementId)>
                <i class="far @Model.Icon nav-icon"></i>
                <p>@Model.DisplayName</p>
            </a>
        </li>
    }
}
else
{
    <li class="nav-item has-treeview @cssClass">
        <a href="#" class="nav-link">
            <i class="far @Model.Icon nav-icon"></i>
            <p>
                @Model.DisplayName
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        @foreach (var childMenuItem in Model.Items)
        {
            @await Html.PartialAsync("~/Themes/AdminLTE/Components/Menu/_MenuItem.cshtml", childMenuItem)
        }
    </ul>
</li>
}