@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.PermissionManagement.Localization
@using Volo.Abp.PermissionManagement.Web.Pages.AbpPermissionManagement
@model Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Pages.AbpPermissionManagement.PermissionManagementModal
@inject IHtmlLocalizer<AbpPermissionManagementResource> L
@{
    Layout = null;
}
<!-- iCheck -->
@*<link rel="stylesheet" href="~/plugins/iCheck/all.css">

<script src="~/plugins/iCheck/icheck.min.js"></script>*@
@*<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>*@
<form method="post" asp-page="/AbpPermissionManagement/PermissionManagementModal" data-script-class="abp.modals.PermissionManagement">
    <abp-modal size="Large">
        <abp-modal-header title="@(L["Permissions"].Value) - @Model.EntityDisplayName"></abp-modal-header>
        <abp-modal-body class="custom-scroll-container">
            <input asp-for="@Model.ProviderKey" />
            <input asp-for="@Model.ProviderName" />
            <div name="PermissionsTabs" class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    @for (var i = Model.Groups.Count - 1; i > -1; i--)
                    {
                        <li class="@(i == 0 ? "active" : "")"><a href="#v-pills-tab-@Model.Groups[i].GetNormalizedGroupName()" data-toggle="tab" aria-expanded="false">@Model.Groups[i].DisplayName</a></li>
                    }
                    <li class="pull-left header"><abp-input asp-for="SelectAllInAllTabs" label="@L["SelectAllInAllTabs"].Value" /></li>
                </ul>
                <div class="tab-content">
                    @for (var i = Model.Groups.Count - 1; i > -1; i--)
                    {
                        <div class="tab-pane @(i == 0 ? "active" : "")" id="v-pills-tab-@Model.Groups[i].GetNormalizedGroupName()">
                            <div class="pl-1 pt-1">
                                <abp-input asp-for="@Model.Groups[i].IsAllPermissionsGranted" name="SelectAllInThisTab"
                                           id="SelectAllInThisTab-@Model.Groups[i].GetNormalizedGroupName()"
                                           data-tab-id="v-pills-tab-@Model.Groups[i].GetNormalizedGroupName()"
                                           label="@L["SelectAllInThisTab"].Value" />
                                <hr class="mb-3" />
                                @for (var j = 0; j < Model.Groups[i].Permissions.Count; j++)
                                {
                                    <abp-input asp-for="@Model.Groups[i].Permissions[j].IsGranted"
                                               label="@Model.Groups[i].Permissions[j].GetShownName(Model.ProviderName)"
                                               disabled="@Model.Groups[i].Permissions[j].IsDisabled(Model.ProviderName)"
                                               group-data-permission-name="@Model.Groups[i].Permissions[j].Name"
                                               group-data-parent-name="@(Model.Groups[i].Permissions[j].ParentName ?? "")"
                                               group-style="margin-left: @(Model.Groups[i].Permissions[j].Depth * 20)px" />
                                    <input asp-for="@Model.Groups[i].Permissions[j].Name" />
                                }
                            </div>
                        </div>
                    }
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>