@using Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Bundling
@using Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Themes.AdminLTE.Components.PageAlerts
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.MultiTenancy
@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@using Volo.Abp.MultiTenancy
@using Microsoft.Extensions.Configuration
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IBrandingProvider BrandingProvider
@inject IOptions<AbpMultiTenancyOptions> MultiTenancyOptions
@inject ICurrentTenant CurrentTenant
@inject IStringLocalizer<AbpUiMultiTenancyResource> MultiTenancyStringLocalizer
@inject ITenantResolveResultAccessor TenantResolveResultAccessor
@inject IConfiguration configuration
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie();
    var pageIcon = string.IsNullOrWhiteSpace(configuration["Settings:LogoUrl"]) ? BrandingProvider.LogoUrl : configuration["Settings:LogoUrl"];
}

<!DOCTYPE html>

<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Account)

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="@pageIcon">
    <title>@(ViewBag.Title == null ? BrandingProvider.AppName : ViewBag.Title)</title>

    <abp-style-bundle name="@AdminLTEThemeBundles.Styles.Global" />

    @await RenderSectionAsync("styles", false)

    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Account)
    <!-- CDN Google Font: Source Sans Pro -->
    <!-- <link href="https://fonts.cat.net/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->

    <abp-script-bundle name="@AdminLTEThemeBundles.HeaderScripts.Global" />

</head>
<body class="login-page">
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.First, StandardLayouts.Account)

    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:;">
                <div style="margin-bottom: 12px;">
                    <img class="img" src="/img/logo-bb.svg" style="width: 100%; max-width: 100px;">
                </div>
                <p class="title-project">
                    Hệ thống quản lý HỌC VIÊN
                    Cơ sở xã hội Bầu Bàng
                </p>
            </a>
        </div>
        @(await Component.InvokeAsync<PageAlertsViewComponent>())
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-header">
                <p class="card-title">
                    Đăng nhập
                </p>
            </div>
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <div class="copyright-text">
        <p>
            Cơ sở xã hội Bầu Bàng thành phố Đà Nẵng - Địa chỉ: Thôn Lộc Mỹ, Xã Hòa Bắc, Huyện Hòa Vang, Thành phố Đà Nẵng
        </p>
        <p>
            © 2020 Bản quyền thuộc Sở Lao động, Thương binh và Xã hội thành phố Đà Nẵng
        </p>
    </div>

    <abp-script-bundle name="@AdminLTEThemeBundles.Scripts.Global" />

    <script src="~/Abp/ApplicationConfigurationScript"></script>
    <script src="~/Abp/ServiceProxyScript"></script>

    @await RenderSectionAsync("scripts", false)

    @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.Last, StandardLayouts.Account)
</body>
</html>
