@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem
@if (Model.IsLeaf)
{
    if (Model.Url != null)
    {
        <li class="@Model.CssClass"><a href="@(Model.Url ?? "#")"><i class="fa fa-circle-o"></i>@Model.DisplayName</a></li>
    }
}
else
{
    <li class="treeview @Model.CssClass">
        <a href="#">
            <i class="fa fa-circle-o"></i> <span>@Model.DisplayName</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @foreach (var childMenuItem in Model.Items)
            {
                @await Html.PartialAsync("~/Themes/AdminLTE/Components/Menu/_MenuItem.cshtml", childMenuItem)
            }
        </ul>
    </li>
}