@page
@model Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Pages.Account.ManageModel
@using Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Localization
@using Volo.Abp.Identity.Settings
@using Volo.Abp.Settings
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@inject ISettingProvider SettingManager
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<AdminLTEResource> TL
@inject IStringLocalizer<AccountResource> L

@{
    Layout = ThemeManager.CurrentTheme.GetApplicationLayout();
    var isUserNameUpdateEnabled = string.Equals(await SettingManager.GetOrNullAsync(IdentitySettingNames.User.IsUserNameUpdateEnabled), "true",
        StringComparison.OrdinalIgnoreCase);

    var isEmailUpdateEnabled = string.Equals(await SettingManager.GetOrNullAsync(IdentitySettingNames.User.IsEmailUpdateEnabled), "true",
        StringComparison.OrdinalIgnoreCase);
}
@section scripts {
    <abp-script src="/Pages/Account/Manage.js" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@L["ManageYourProfile"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/">@TL["Nav:Home"]</a></li>
                    <li class="breadcrumb-item active">@L["ManageYourProfile"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <abp-card>
                    <abp-card-body>
                        <abp-tabs tab-style="PillVertical">
                            @foreach (var item in Model.ProfileManagementPageCreationContext.Groups)
                            {
                                <abp-tab title="@item.DisplayName" itemid="@item.Id">
                                    <h4>@item.DisplayName</h4>

                                    @Component.InvokeAsync(item.ComponentType, item.Parameter)

                                </abp-tab>
                            }
                        </abp-tabs>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</section>
